.parent {

    background-color: black;
    padding: 20px;
    /* height: 100vh; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;

}

.child {

    background-color: white;
    height: 350px;
    width: 350px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    

}

.child img {

    width: 350px;

}