* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.main {

    background-color: black;
    color: white;
    padding: 20px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button1 {

    background-color: blue;
    padding: 10px;
    width: 300px;
    border-radius: 10px;
    border: none;
    transition: 1s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button1:hover {
    background-color: orange;
}

