* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.main {

    background-color: black;
    color: white;
    padding: 20px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.para::first-letter {
    color: red;
    font-size: x-large;
} 