* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    border: 2px solid rgb(228, 226, 226); 

}

.navref {
    background-color: white;
    color: black;
    display: flex;
    gap: 160px;
    padding: 15px;
    
}

.navref a {
    color: black;
    text-decoration: none;
}


.logo img {
    width: 200px;
}
 

.button1 button{
    background-color: gray;
    color: black;
    border: none;
    padding: 10px;
    width: 70px;
    border-radius: 20px;
}


.button1 button:hover {
    background-color: yellow;
    color: blue;
    transition: 2s;
}


.child1:hover {
  background-color: rgb(109, 109, 238);
  color: orange;
}




@media (max-width:600px){
    .main img {
    position: fixed; 
    top: 0;       
    left: 0;         
    width: 200px;     
    height: auto;   
    z-index: 10;   
}

    .navref {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        
    }
}